.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }
  bgc2, .vLine, .hLine {
      background-color: #0F52BA;
  }
  
  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .services-icon {
      font-size: 60px;
      margin-left: 2rem;
  }

  .home-main{
    background: #f5f5f5;
    color:#fff;
    padding: 13%;
    opacity: 1;
    text-align: center;
  }
  .blinker{
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
    opacity: 0;
    }
  }

  .home-main button{
    background: #fff;
    color: #5812c5;
    border-radius: 0;
    font-weight: 700;
    width: 16%;
    height: 50px;
    top: 4%;
    margin-top: 3%;
  }
  
  .content1-left{
    padding:9%;
  }
  .content1-right{
    padding:9%;
    background:#e4e4e4;
  }
  .home-content2{
    background: #adb5bd;
    padding: 1.4%;
    text-align: center;	
  }
  .home-content2 p{
    font-size: 18px;
    line-height: 50px;
  }
  .home-content2 p span{
    font-weight: 500;
  }