<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<div class="container">
	<br>
	<a class="text-dark"href="/login"><img src="\assets\img\logo-herbt.png" height="50" width="50"> H E R B T</a>
	<hr>
	</div>
	<div class ="contai container-fluid home-main heading-title text-center ">
			<h3 class="text-uppercase text-dark">Welcome</h3>
			<br>
			<small class="text-dark">Please click the HERBT on the upper left corner of your screen to continue.</small>
	</div>
	<br><br>
	<br>
	<div class="heading-title text-center">
		<h3 class="text-uppercase">Meet Our Team</h3>
	</div>
	<br><br>
	<div class="container-fluid">
	<div class="row">
	  <!-- Team Member 1 -->
	  <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-0 shadow">
		  <img src="https://image.flaticon.com/icons/svg/180/180679.svg" class="card-img-top" alt="...">
		  <div class="team-title">
			<h5>Eivie Vecendario</h5>
			<span>Project Manager / Hipster</span>
		</div>
		</div>
	  </div>
	  <!-- Team Member 2 -->
	  <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-0 shadow">
		  <img src="https://image.flaticon.com/icons/svg/180/180658.svg" class="card-img-top" alt="...">
		  <div class="team-title">
			<h5>Edmond Escamella</h5>
			<span>Hacker / Project Manager</span>
		</div>
		</div>
	  </div>
	  <!-- Team Member 3 -->
	  <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-0 shadow">
		  <img src="https://image.flaticon.com/icons/svg/180/180675.svg" class="card-img-top" alt="...">
		  <div class="team-title">
			<h5>Barbie Mae Arcay</h5>
			<span>TechWriter / Database Manager and Designer</span>
		</div>
		</div>
	  </div>
	  <!-- Team Member 4 -->
	  <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-0 shadow">
		  <img src="https://image.flaticon.com/icons/svg/180/180644.svg" class="card-img-top" alt="...">
		  <div class="team-title">
			<h5>Louis Grant Inoc</h5>
			<span>Hipster / Hacker</span>
		</div>
		</div>
	  </div>
	</div>
	<!-- /.row -->
  
	</div>
	<div class="container-fluid home-content2">
	</div>